{% extends 'layout.html' %}
{% load static %}



{% block title %} 
    Register
{% endblock title %}


{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h1>Register</h1>
            <hr>
            <form method="post">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {% endif %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class="form-control" required
                     value="{% if username %}{{username}}{% endif %}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" id="email" class="form-control" required 
                    value="{% if email %}{{email}}{% endif %}">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="re-password" class="form-label">Re-Password</label>
                    <input type="password" name="re-password" id="re-password" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
                <a href="{% url 'login' %}">Already have an account?</a>

            </form>

        </div>

    </div>

</div>
    

{% endblock content %}

