{% extends 'layout.html' %}
{% load static %}





{% block title %} 
    {{ mytodo.title }}
{% endblock title %}


{% block content %}
<div class="container mt-3">
    <div class="row">

        <div class="col-4">
            <a href="#" style="text-decoration:none">
                <div class="card text-bg-success mb-2">
                    <div class="card-header" data-bs-toggle="modal" data-bs-target="#createModal">&#x2795; Create a new Todo </div>
                    
                </div>
            </a>
            {% for todo in todos %}
                <a href="{% url 'todo' todo.slug %}" style="text-decoration:none">
                    <div class="card text-bg-light mb-2">
                    <div class="card-header">{{todo.title}}
                        
                    </div>
                    
                    
                </div>
            </a>
                
            {% endfor %}
            </div>

        <div class="col-8">
            <div class="card text-bg-light">
                <div class="card-header">{{mytodo.date}}</div>
                <div class="card-body">
                  <h5 class="card-title">{{mytodo.title}}</h5>
                  <p class="card-text">{{mytodo.description}}</p>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" data-bs-whatever="@getbootstrap">Edit</button>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>            
                    </div>
              </div>


              <!--Edit Modal-->
              <form action="{% url 'edit' mytodo.id %}" method="POST">
                {% csrf_token %}
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content"> 
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="editModalLabel">Edit Todo - {{mytodo.title}}</h1>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Title</label>
                                            <input type="text" class="form-control" id="recipient-name" name="newTitle" value="{{mytodo.title}}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="message-text" class="col-form-label">Description</label>
                                            <textarea class="form-control" id="message-text" name="newDescription">{{mytodo.description}}</textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            <!-- Delete Modal -->
            <form  method="POST" action="{% url 'delete' mytodo.id %}">
                
                    {% csrf_token %}
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteleModalLabel">Are you sure you want to delete?</h1>
                        </div>
                
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                    </div>
                </div>
                </form>
            <!--Crete Modal-->
            <form action="{% url 'create' %}" method="POST">
                {% csrf_token %}
                <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content"> 
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="createModalLabel">Create A New Todo</h1>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Title</label>
                                            <input type="text" class="form-control" id="recipient-name" name="title">
                                        </div>
                                        <div class="mb-3">
                                            <label for="message-text" class="col-form-label">Description</label>
                                            <textarea class="form-control" id="message-text" name="description"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-success">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
                 
        
        
            </div>

    </div>

</div>



{% endblock content %}

